$text-black: #343d33;
$text-first: #373737;
$text-color: #414840;
$text-white: #ffffff;
$primary-color: #55a74a;
$color-black: #000000;
$fade-black: rgba(0, 0, 0, 0.7);
$green-linear: linear-gradient(140.46deg, #55a74a 10.17%, #308025 89.38%);
$green-bg: linear-gradient(140.46deg, #55a74a 10.17%, #308025 89.38%);
$bg-color: #e7e7e7;
$bg-first: #e5e5e5;
$bg-second: #fbfbfb;
$btn-color: #e9fcf3;
